:root {
  
  
  -webkit-text-size-adjust: 700%;
}

a {
  font-weight: 500;
  color: #06093d;
  text-decoration: inherit;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 30px;
  font-weight: 500;
  background-color: #bb1d1d;
  color: #676767;
  cursor: pointer;
  transition: border-color 0.2s;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 4em;
  text-align: center;
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #a0a1a6;
  }
  button {
    background-color: #f9f9f9;
  }
}
.has-search{
position:absolute;
right: 100px;
}

.container-fluid {
  background-color: rgba(82, 157, 182, 0.853);
  color: white;
  height: 65px;
}

